body {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(23, 30, 81), rgb(136, 88, 155));
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.897);
    font-family: sans-serif;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------- */
.search-wrapper {
    margin: 2px 2px 0px 20px;
    gap: 10px;
}

label {
    display: none;
}

#search {
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 23px;
}

#search-button {
    border: none;
    border-radius: 35%;
    height: 23px;
    width: 25px;
    padding: 2px;
    margin: 2px;
    outline: none;
}

#search-button:hover {
    background-color: rgba(255, 255, 255, 0.603);
}

/* ------------------------------------- */

.city-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: 1.7rem;
    font-weight: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.header-current-temp {
    font-size: 2.875rem;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    border-right: 2px solid rgb(223, 223, 223);
}

.right-side {
    display: grid;
    width: 5%;
    gap: .5rem;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
}

/* .blur {
    filter: blur(4px);
} */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.label {
    font-size: 0.850rem;
    font-weight: 600;
}

.sub-info {
    font-weight: lighter;
    font-size: .7rem;
}

.day-section {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 75px); */
    /* grid-template-columns: repeat(2, auto); */
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
}

.day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
    padding: 0.5rem;
    background-color: rgb(42, 51, 128);
}

.day-card img {
    filter: invert(100%);
    width: 30px;
}

.day-card-day {
    font-size: .8rem;
    color: rgb(226, 239, 250);
    margin-top: .5rem;
    padding-bottom: 7px;
}

.stats-icon {
    padding-bottom: 2px;
}

.temperature {
    border: none;
}

.details {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.226);
}

.details-legend {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 600;
}

.forecast {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.226);
}

.forecast-legend {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 600;
}

.hour-section {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    margin-top: 15px;
}

.day-row>td {
    padding: 0.25rem 0.5rem;
}